body {
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6); 
}

@font-face {
  font-family: 'varela';
  src: url('https://desarrolloadaptatin.blob.core.windows.net:443/frontejercicios/fonts/VarelaRound-Regular-webfont.woff');
}

@font-face {
  font-family: 'opensans';
  src: url('https://desarrolloadaptatin.blob.core.windows.net:443/frontejercicios/fonts/OpenSans-Regular-webfont.woff');
}

/*
  inicio header
*/
.encabezado {
  background-image: linear-gradient(to right, #1F8F99 , #00b3a6);
  height: 50px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.23);
  border-radius: 0 0 15px 0;
  -moz-border-radius: 0 0 15px 0;
  -webkit-border-radius: 0 0 15px 0;
  padding-top: 10px;
  position: fixed;
  top: 0;
  transition: top 0.3s;
  width: 100%;
  z-index: 1;
}

.barraprogreso {
  height: 50px;
  padding-top: 10px;
  margin-bottom: 40px;
}

.encabezadoBarra {
  background-color: #FFF;
}

.tituloEncabezado {
  font-family: 'varela';
  color: #FFF;
  font-size: 23px;
}

@media only screen and (max-width: 576px) {
  .tituloEncabezado {
    font-size: 17px;
  }
}

@media only screen and (min-width: 577) and (max-width: 768px) {
  .tituloEncabezado {
    font-size: 20px;
  }
}

@media only screen and (min-width: 769px) {
  .tituloEncabezado {
    font-size: 23px;
  }
}

.btnSalirMision {
  color: #dddddd;
}

.btnSalirMision:hover {
  color: #FFF;
}

/*
  termino header
****
  inicio contenido
*/

.contenido {
  margin-bottom: 100px;
}

/*
  termino contenido
****
  inicio footer
*/

.pie {
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pieCorrecta {
  background-color: #BFF199;
  color: #4d8b4b;
}

.pieIncorrecta {
  background-color: #F6B3B1;
  color: #d33131;
}

#btnConsulta {
  background-color: #b9e8ff;
  border: 2px solid #bfbfbf;
  border-radius: 26px;
  color: #107dac;
  font-family: 'varela';
  font-size: 16px;
  height: 53px;
}

#btnConsulta:hover {
  border-color: #1caff6;
  background-color: transparent;
}

#btnResponder {
  border-radius: 26px;
  background-color: #1a8dc6;
  color: #FFF;
  font-family: 'varela';
  font-size: 16px;
  height: 53px;
}

#btnResponder:hover {
  background-color: #107dac;
}

#btnResponder:disabled {
  background-color: #e6e6e6;
  color: #3c3c3c;
}

#btnResponder.respCorrecta {
  background-color: #4d8b4b;
}

#btnResponder.respIncorrecta {
  background-color: #d33131;
}

/* 
  termino footer
****
  inicio de diseño glosa
*/

.dimensionGlosa {
  min-width: calc(100% - 24px) !important;
  height: calc(100% - 24px) !important;
  margin-top: 12px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.glosaEjercicio {
  background-color: #fff;
  border-radius: 26px;
  font-family: 'opensans';
  height: 100%;
}

.modalBody {
  overflow-y:scroll;
  padding: 8px 0;
}

.tituloGlosa {
  margin-top: 32px;
  margin-bottom: 24px;
}

.tituloGlosa span {
  padding-left: 15px;
  font-size: 26px;
}

#btnCloseGlosa {
  width: 100%;
  height: 53px;
  border-radius: 26px;
  background-color: #48779f;
  font-family: 'varela';
  color: #fff;
  font-size: 16px;
}

/*
  termino glosa
  termino de diseño general 
*****
  inicio de diseño para ejercicios
*/

.grupoRadioButton {
  border: 1px solid black;
  border-radius: 25px;
}

.grupoRadioButton label {
  cursor: pointer;
  display: inline;
}

.labelOpcion {
  margin: 5px;
}

.custom-control-input_modifier {
  position: static; 
  display: inline;
}

.radio-div {
  cursor: pointer;
}
.radio-div:hover {
  background-color: #adfaff;
}
.radio-div__selected {
  background-color: #1ebdfc;
}

.input-numerador {
  background-color: #CFE2F3;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  height: 90px;
  font-size: 80px;
  text-align: center;
  width: 70px;
  margin: 2px;
}

.input-num-y-den {
  background-color: #CFE2F3;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  font-size: 40px;
  text-align: center;
  width: 70px;
  height: 50px;
  margin: 2px;
}

.opcionradio {
  display: flex;
  background-color: transparent;
  color: #3c3c3c;
  font-family: 'opensans';
  font-size: 20px;
  height: 100%;
}

.opcionradio input[type=radio] {
  display: none;
}

.opcionradio input[type=radio] + label {
  padding: 8px 12px;
  border-radius: 40px;
  width: 100%;
}

.opcionradio input[type=radio] + label:before {
  height: 20px;
  width: 20px;
  border: 2px solid #bfbfbf;
  border-radius: 50%;
  margin-right: 4px;
  margin-top: 3px;
  margin-bottom: -4px;
  content: " ";
  display: inline-block;
  background-color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.opcionradio input[type=radio]:checked + label:before {
  border: 2px solid #1caff6;
  background: #1caff6;
}

.opcionradio input[type=radio]:checked + label {
  background: #b9e8ff;
  color: #1caff6;
  padding: 8px 12px;
}

.opcionradio label {
  cursor: pointer;
}