*
{
	margin: 0;
	padding: 0;
}
body
{
	background: white;
	margin: 0;
	padding: 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
section
{
	position: static;	
}
h1, h2, h3, h4, h5, h6
{
	margin: 0;
	padding: 0;
}
section.design
{
	min-height: 200px;
	min-width: 100px;
	padding: 10px 0;
	width: 100%;
}
section.design .tag
{
	margin: 0 0 10px;
}
section.design .tag canvas
{
	border: 1px solid #ddd;
	transition: all .3s ease;
	width: 100%;
}
section.design .tag .general
{	
	background: white;
	padding: 10px 15px 0;
	transition: all .3s ease;
	width: 100%;
}
section.design .tag .general li
{
	list-style: none;
	margin-right: 10px;
}
section.design .filter
{
	background: rgba(0,0,0,.8);
	height: 100vh;
	padding: 5vh 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}
section.design .glosa
{
	background: #fff;
	border: 10px solid #111;
	display: block;
	min-height: 30vh;
	max-height: 90vh;
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px 0px;
	width: 80%;
}
section.design .feedback
{
	background: #fff;
	border: 10px solid #111;
	color: black;
	display: block;
	min-height: 30vh;
	max-height: 90vh;
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
	width: 70%;
}
section.design .feed
{
	background-position: center;
	background-size: cover;
	height: 200px;
	margin: 5px 0 5px -20px;
	width: 200px;
}
section.design .info
{
	margin-left: 200px;
	margin-top: 10px;
	position: absolute;
}
section.design button
{
	background: transparent;
	border: none;
	color: black;
	font-size: 30px;
	position: absolute;
	right: calc(15% + 18px);
	top: calc(5vh + 15px);
	z-index: 1000000;
}
section.design button.wide
{
	right: calc(10% + 18px);
}
header
{
	background: #111;
	color: white;
	display: none;
	height: 80px;
	margin: -20px 0 0;
	width: 100%;
}
header h2
{
	font-size: 30px;
	padding: 25px;
}
footer
{
	background: #F9EDC7;
	border-top: 5px solid #bc2424;
	height: 80px;
	text-align: right;
	width: 100%;
}
footer button
{
	background: #bc2424;
	border-radius: 30px;
	color: white;
	font-size: 18px;
	height: 50px;
	margin: 12px 25px;
	padding: 5px 50px;
	text-transform: uppercase;
}
footer .help
{
	background-color: white;
	background-image: url('https://desarrolloadaptatin.blob.core.windows.net:443/iconosimg/botones/btn_consulta.svg');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 60%;
	border-radius: 50px;
	border: 2px solid #2E358F; 
	content: '';
	cursor:pointer;
	display: inline-block;
	height: 50px;
	left: 0;
	margin: 12px 25px;
	position: absolute;
	vertical-align: middle;
	width: 50px;
	z-index: 1;
}
footer .help span
{
	color: #bc2424;
	font-size: 24px;
	letter-spacing: .5px;
	margin: 0px 60px;
	position: relative;
	top: 7px;
}
.radio-div {
  cursor: pointer;
}
.radio-div:hover {
  background-color: #adfaff;
}
.radio-div__selected {
  background-color: #1ebdfc;
}