::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    color: transparent;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.6);
}

svg {
    vertical-align: baseline;
}

p {
    font-size: 18px;
    font-family: 'opensans';
    margin-bottom: 10px;
}

li {
    font-size: 18px;
    font-family: 'opensans';
}

canvas {
    margin-top: -40px;
    margin-bottom: 30px;
    position: relative;
    z-index: -1;
}

.tran {
    background: rgba(0, 0, 0, 0);
}

.mascinco {
    padding-bottom: 40px
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
}

table img {
    margin: 0;
}

table {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 0px;
    z-index: 1;
}

@font-face {
    font-family: 'varela';
    src: url('../../../../fonts/VarelaRound-Regular-webfont.woff');
}

@font-face {
    font-family: 'opensans';
    src: url('../../../../fonts/OpenSans-Regular-webfont.woff');
}


/*CONSIDERACIONES MOBILE*/

@media only screen and (max-width: 576px) {
    .barraprogreso {
        margin-bottom: 10px;
    }
    .contenido {
        max-height: calc(100vh - 120px);
        /*header 50px + 10px de margen + footer mobile 60 px*/
        height: calc(100vh - 120px);
        /*header 50px + 10px de margen + footer mobile 60 px*/
        overflow: auto;
        overflow-y: scroll;
        margin-bottom: 0;
    }
    .contenido::-webkit-scrollbar {
        width: 5px;
    }
    /* Track */
    .contenido::-webkit-scrollbar-track {
        color: transparent;
    }
    /* Handle */
    .contenido::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
    }
    /* Handle on hover */
    .contenido::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.6);
    }
    /*---- IMAGEN ESTATICA EN BOTONES       ----*/
    .icon-consulta span {
        display: block;
        content: url("../../../../imagenes_front/botones_ejercicios/open-book.svg");
        margin: 0 auto;
        height: 100%;
        width: auto;
    }
    .icon-responder span {
        display: block;
        content: url("../../../../imagenes_front/botones_ejercicios/flecha-der.svg");
        margin: 0 auto;
        height: 85%;
        width: auto;
    }
    .pie {
        height: 60px;
    }
    #btnConsulta {
        border-radius: 19px;
        height: 40px;
    }
    #btnResponder {
        border-radius: 19px;
        height: 40px;
    }
}


/*MAS GRANDE QUE MOBILE*/

@media only screen and (min-width: 576px) {
    .barraprogreso {
        margin-bottom: 20px;
    }
    .contenido {
        max-height: calc(100vh - 170px);
        /*header 50px + 20px de margen + footer mobile 100 px*/
        height: calc(100vh - 170px);
        /*header 50px + 20px de margen + footer mobile 100 px*/
        overflow: auto;
        overflow-y: scroll;
        margin-bottom: 0;
    }
    .contenido::-webkit-scrollbar {
        width: 5px;
    }
    /* Track */
    .contenido::-webkit-scrollbar-track {
        color: transparent;
    }
    /* Handle */
    .contenido::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
    }
    /* Handle on hover */
    .contenido::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.6);
    }
    /*---- ANIMACION BOTONES ----*/
    /* Button 5 */
    .bton-5 {
        overflow: hidden;
        backface-visibility: hidden;
    }
    button:not(:disabled).bton-5 span {
        display: inline-block;
        -webkit-transition: all 0.8s;
        -webkit-backface-visibility: hidden;
        -moz-transition: all 0.8s;
        -moz-backface-visibility: hidden;
        transition: all 1s;
        backface-visibility: hidden;
    }
    button:not(:disabled).bton-5:before {
        position: absolute;
        height: 100%;
        line-height: 3;
        font-size: 180%;
        -moz-transition: all 0.3s;
        transition: all 1s;
    }
    button:not(:disabled).bton-5:active:before {
        color: #703b87;
    }
    /* Button 5a */
    button:not(:disabled).bton-5a:hover span {
        -webkit-transform: translateY(300%);
        -moz-transform: translateY(300%);
        -ms-transform: translateY(300%);
        transform: translateY(200%);
    }
    button:not(:disabled).bton-5a:before {
        top: -115%;
    }
    button:not(:disabled).bton-5a:hover:before {
        top: -4px;
    }
    button:not(:disabled).icon-consulta:before {
        content: url("../../../../imagenes_front/botones_ejercicios/open-book.svg");
        width: 42px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    button:not(:disabled).icon-responder:before {
        content: url("../../../../imagenes_front/botones_ejercicios/flecha-der.svg");
        width: 36px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    .pie {
        height: 100px;
    }
    #btnConsulta {
        border-radius: 26px;
        height: 53px;
    }
    #btnResponder {
        border-radius: 26px;
        height: 53px;
    }
}


/*
  inicio header
*/

.barraprogreso {
    height: 50px;
}

#progressbar {
    width: 254px;
    height: 40px;
    margin-top: 5px;
}

.lineasbarra {
    display: flex;
    align-items: center;
    align-content: center;
}

hr.sidelinebar {
    height: 1px;
    border: 0;
    color: #E7E5E5;
    background-color: #E7E5E5;
    width: calc(100% / 2 - 164px);
    margin-top: 18px;
}

#botonSalir {
    cursor: pointer;
    fill: #e6e6e6;
}

#botonSalir:hover {
    fill: #1f8f99;
}

#enunciado {
    margin-bottom: 10px;
}


/*
  termino header
****
  inicio footer
*/

.pie {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pieCorrecta {
    background-color: #BFF199;
    color: #4d8b4b;
}

.pieIncorrecta {
    background-color: #F6B3B1;
    color: #d33131;
}

#btnConsulta {
    background-color: #FFF;
    border: 2px solid #bfbfbf;
    color: #107dac;
    font-family: 'varela';
    font-size: 16px;
    position: relative;
}

#btnConsulta:hover {
    border-color: #1caff6;
    background-color: transparent;
}

#btnConsulta:disabled {
    background: #e6e6e6;
    color: #FFF;
    cursor: default;
    border: none;
}

#btnResponder {
    background: #1a8dc6;
    color: #FFF;
    border: none;
    font-family: 'varela';
    font-size: 16px;
    position: relative;
}

#btnResponder:hover {
    background-color: #107dac;
}

#btnResponder:disabled {
    background-color: #e6e6e6;
    color: #3c3c3c;
}

#btnResponder.respCorrecta {
    background-color: #4d8b4b;
}

#btnResponder.respIncorrecta {
    background-color: #d33131;
}


/* 
  termino footer
****
  inicio de diseño feedback modal
*/

.modalFeedbackError {
    background: #ffd0cf;
    color: #a0130f;
}

.modalFeedbackOK {
    background: #BFF199;
    color: #4d8b4b;
}

.spanFeedback {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.textoFeedback {
    font-size: 18px;
    margin-bottom: 0;
}

.btnCerrarFeed {
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 36px;
    cursor: pointer;
}

.btnCerrarFeed div {
    content: url("../../../../imagenes_front/botones_ejercicios/flecha-der.svg");
    height: 80%;
    width: auto;
    margin: 0 auto;
}

.btnCerrarFeedGood {
    background: #4D8B4B;
}

.btnCerrarFeedBad {
    background: #d33131;
}


/*
  termino diseño de feedback modal
****
  inicio de diseño glosa
*/

.dimensionGlosa {
    max-width: calc(100% - 24px) !important;
    height: calc(100% - 24px) !important;
    margin-top: 12px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.glosaEjercicio {
    background-color: #fff;
    border-radius: 26px;
    font-family: 'opensans';
    height: 100%;
}

.modalBody {
    overflow-y: scroll;
    padding: 8px 0;
}

.tituloGlosa {
    margin-top: 32px;
    margin-bottom: 24px;
}

.tituloGlosa span {
    padding-left: 15px;
    font-size: 26px;
}

#btnCloseGlosa {
    width: 100%;
    height: 53px;
    border-radius: 26px;
    background-color: #48779f;
    font-family: 'varela';
    color: #fff;
    font-size: 16px;
}


/*
  termino glosa
  termino de diseño general 
*****
  inicio de diseño para ejercicios
*/

.grupoRadioButton {
    border: 1px solid black;
    border-radius: 25px;
}

.grupoRadioButton label {
    cursor: pointer;
    display: inline;
}

.labelOpcion {
    margin: 5px;
}

.custom-control-input_modifier {
    position: static;
    display: inline;
}

.input-numerador {
    background-color: #CFE2F3;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    height: 90px;
    font-size: 80px;
    text-align: center;
    width: 70px;
    margin: 2px;
}

.input-num-y-den {
    background-color: #CFE2F3;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 40px;
    text-align: center;
    width: 70px;
    height: 50px;
    margin: 2px;
}

.opcionradio {
    display: flex;
    background-color: transparent;
    color: #3c3c3c;
    font-family: 'opensans';
    font-size: 20px;
    height: 100%;
}

.opcionradio input[type=radio] {
    display: none;
}

.opcionradio input[type=radio]+label {
    padding: 8px 12px;
    border-radius: 40px;
    width: 100%;
}

.opcionradio input[type=radio]+label:before {
    height: 20px;
    width: 20px;
    border: 2px solid #bfbfbf;
    border-radius: 50%;
    margin-right: 4px;
    margin-top: 3px;
    margin-bottom: -4px;
    content: " ";
    display: inline-block;
    background-color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

.opcionradio input[type=radio]:checked+label:before {
    border: 2px solid #1caff6;
    background: #1caff6;
}

.opcionradio input[type=radio]:checked+label {
    background: #b9e8ff;
    color: #1caff6;
    padding: 8px 12px;
}

.opcionradio label {
    cursor: pointer;
}


/* INICIO DISEÑO TABLAS SIMPLES */

.tabla {
    *width: 100%;
}

.tabla td {
    font-size: 20px;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

.tabla input {
    min-width: 40px;
    max-height: 50px;
    border: 2px solid #cfcfcf;
    border-radius: 8px;
    padding: 5px;
    background: transparent;
    font-size: 20px;
    color: #000000;
}

.inputTexto-correcto {
    border: 2px solid #BFF199 !important;
    color: #BFF199 !important;
}

.inputTexto-incorrecto {
    border: 2px solid #F6B3B1 !important;
    color: #F6B3B1 !important;
}

.tabla input:focus {
    border-color: #1cb0f6;
}

.tabla-bordes {
    border-collapse: separate;
    border-spacing: 0;
}

.tabla-bordes td {
    border-right: 2px solid #107dac;
    border-bottom: 2px solid #107dac;
}

.tabla-bordes tr td:first-child {
    border-left: 2px solid #107dac;
}

.tabla-bordes tr:first-child td {
    border-top: 2px solid #107dac;
}


/* top-left border-radius */

.tabla-bordes tr:first-child td:first-child {
    border-top-left-radius: 10px;
}


/* top-right border-radius */

.tabla-bordes tr:first-child td:last-child {
    border-top-right-radius: 10px;
}


/* bottom-left border-radius */

.tabla-bordes tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}


/* bottom-right border-radius */

.tabla-bordes tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}


/* TERMINO DISEÑO TABLAS SIMPLES */

.inputTexto {
    min-width: 40px;
    max-height: 50px;
    border: 2px solid #cfcfcf;
    border-radius: 8px;
    padding: 5px;
    background: transparent;
    font-family: 'opensans';
    font-size: 20px;
    color: #000000;
}

.inputTexto:focus {
    border-color: #1cb0f6;
}

.radio-div {
    background: transparent;
    border: 2px solid #bfbfbf;
    border-radius: 15px;
    padding: 12px;
    margin-bottom: 10px;
    cursor: pointer;
}

.radio-div:hover {
    background: #b9e8ff;
    border: 2px solid #1caff6;
}

.radio-div_selected {
    background: #b9e8ff;
    border: 2px solid #1caff6;
}

.radio-div [type=radio] {
    visibility: hidden;
    display: none;
}

.radio-div label {
    cursor: pointer;
    color: #3c3c3c;
    font-size: 18px;
    margin-bottom: 0;
    display: block;
}

.radio-div input[type=radio]+label:before {
    height: 15px;
    width: 15px;
    border: 2px solid #bfbfbf;
    border-radius: 50%;
    content: "";
    display: inline-flex;
    margin-right: 6px;
    background: #fff;
    transition: 0.3s;
    cursor: pointer;
}

.radio-div input[type=radio]:checked+label:before {
    border: 2px solid #1caff6;
    background: #1caff6;
}

.radio-div canvas {
    margin-bottom: 0;
    margin-top: 0;
}

.radio-div img {
    margin: 0;
}

.radio-div table {
    margin: 0;
}

.strikethrough {
    position: relative;
}

.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: red;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.barra-progreso {
    position: relative;
    display: flex;
    margin-top: 8px;
}

.barra-progreso .progress-track {
    position: absolute;
    top: 8px;
    width: 100%;
    height: 5px;
    background-color: #dfe3e4;
    z-index: -1;
}

.barra-progreso .progress-step {
    position: relative;
    width: 100%;
}

.barra-progreso .progress-step:last-child:after {
    display: none;
}

.barra-progreso .progress-step:before {
    content: "";
    display: flex;
    margin-left: auto;
    margin-bottom: 10px;
    width: 14px;
    height: 14px;
    background: #fff;
    border: 4px solid #dfe3e4;
    border-radius: 100%;
    color: #fff;
    box-sizing: content-box;
}

.barra-progreso .progress-step:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0%;
    width: 0%;
    transition: width 1s ease-in;
    height: 5px;
    background: #dfe3e4;
    z-index: -1;
    box-sizing: content-box;
}

.barra-progreso .progress-step.is-active:before {
    border: 4px solid #777;
    animation: pulse 2s infinite;
}

.barra-progreso .progress-step.is-active:after {
    background: #2183dd;
    animation: nextStep 1s;
    animation-fill-mode: forwards;
}

.barra-progreso .progress-step.is-complete:before {
    color: #fff;
    border: 4px solid transparent;
}

.barra-progreso .progress-step.correcto1:before {
    background: #6afc7b;
}

.barra-progreso .progress-step.correcto2:before {
    background: linear-gradient(to right, #ff8484, #6afc7b);
    border: none;
    height: 21px;
    width: 21px;
}

.barra-progreso .progress-step.incorrecto:before {
    background: #ff8484;
}

.barra-progreso .progress-step.is-complete:after {
    background: #2183dd;
    animation: nextStep 1s;
    animation-fill-mode: forwards;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(33, 131, 221, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(33, 131, 221, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(33, 131, 221, 0);
    }
}

@keyframes nextStep {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@media(max-width: 375px) {
    .a {
        width: 100%;
        display: table;
        margin-bottom: 10px;
    }
}

@media(max-width: 920px) {
    .b {
        width: 100%;
        display: table;
        margin-bottom: 10px;
    }
}

@media(min-width: 376px) {
    .a {
        width: 350px;
        display: table;
    }
}

@media(min-width: 920px) {
    .b {
        width: 700px;
        display: table;
    }
}