

/*CONSIDERACIONES MOBILE*/
@media only screen and (max-width: 576px) {
  .icon-consulta span {
    display: block;
    content: url("imgs/general/open-book.svg");
    margin: 0 auto;
    height: 100%;
    width: auto;
  }

  .icon-responder span {
    display: block;
    content: url("imgs/general/flecha-der.svg");
    margin: 0 auto;
    height: 85%;
    width: auto;
  }

  #btnConsulta {
    border-radius: 19px;
    height: 40px;
  }

  #btnResponder {
    border-radius: 19px;
    height: 40px;
  }
}
/*MAS GRANDE QUE MOBILE*/
@media only screen and (min-width: 576px) {
  /*---- ANIMACION BOTONES ----*/
    /* Button 5 */
  .bton-5 {
    overflow: hidden;
    backface-visibility: hidden;
  }

  button:not(:disabled).bton-5 span {
    display: inline-block;
    -webkit-transition: all 0.8s;
    -webkit-backface-visibility: hidden;
    -moz-transition: all 0.8s;
    -moz-backface-visibility: hidden;
    transition: all 1s;
    backface-visibility: hidden;
  }

  button:not(:disabled).bton-5:before {
    position: absolute;
    height: 100%;
    line-height: 3;
    font-size: 180%;
    -moz-transition: all 0.3s;
    transition: all 1s;
  }

  button:not(:disabled).bton-5:active:before {
    color: #703b87;
  }

    /* Button 5a */
  button:not(:disabled).bton-5a:hover span {
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
    -ms-transform: translateY(300%);
    transform: translateY(200%);
  }

  button:not(:disabled).bton-5a:before {
    top: -115%;
  }

  button:not(:disabled).bton-5a:hover:before {
    top: -4px;
  }

  button:not(:disabled).icon-consulta:before {
    content: url("imgs/general/open-book.svg");
    width: 42px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  button:not(:disabled).icon-responder:before {
    content: url("imgs/general/flecha-der.svg");
    width: 36px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .pie {
    height: 100px;
  }

  #btnConsulta {
    border-radius: 26px;
    height: 53px;
  }

  #btnResponder {
    border-radius: 26px;
    height: 53px;
  }
}